.content {
    display: flex;
    height: 1000px;
}

h1 {
    font-weight: 800;
}
.btns{
    text-align: right;
}
.btns>img{
    width: 50px;
    height: 50px;
}

.section-left {
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
}

.section-center {
    width: 60%;
}

.section-right {
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
}

.question {
    margin-bottom: 10px;
    height: 65%;
}

.result {
    height: 35%;
}

.console {
    color: white;
}

.console-box {
    height: 70%;
    margin-bottom: 10px;
}

.test {
    height: 30%;
}

.time {
    height: 20%;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.participant {
    height: 80%;
    color: white;
}

.input-box {
    width: 100%;
    font-size: 14px;
    background: none;
    border: none;
}

.result-console{
    height: 50%;
    overflow-y: scroll;
}
.result-title{
    padding: 10px;
}

.title-box {
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.result-text{
    display: inline-block;
    padding:10px 30px;
    border-radius: 20px;
}
.content-box {
    height: 480px;
}

.img_form {
    margin: 30px;
    align-items: center;
}

.img_form > .img_view {
    float: left;
    border-radius: 80px;
    width: 50px;
    object-fit: cover;
}
.user_content{
    display: block;
    padding-left: 60px;
    font-size: 20px;
    padding-bottom: 3px;
}

.user-status{
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
}
.gold-light {
    padding: 2px 10px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px #e1c56a,
    0 0 0px #e1c56a,
    0 0 1px #e1c56a,
    0 0 1px #e1c56a,
    0 0 2px #e1c56a,
    0 0 5px #e1c56a,
    0 0 7px #e1c56a,
    0 0 8px #e1c56a,
    0 0 10px #e1c56a,
    0 0 13px #e1c56a;
}

.un-light {
    padding: 2px 10px;
    display: inline-block;
    border-radius: 10px;
}

.defeat{
    background: red;
    color: white;
    font-weight: bolder;
}
.run{
    color: black;
    font-weight: bolder;
}
.first{
    background: goldenrod;
}
.second{
    background: silver;
}
.third{
    background: sandybrown;
}
.fourth{
    background: skyblue;
}

.fifth{
    color: white;
}



.loading-img{

}

.succeed{
    background: blue;
}
.failed{
    background: red;
}


.input-title {
    font-weight: 550;
    color: #A60000;
    text-align: center;
}

.input-content {
    resize: none;
    height: 60%;
}

.input-time {
    text-align: center;
    font-weight: 550;
}

.round-img {
    margin-right: 0;
    width: 40px;
    height: 40px;
}

.btn {
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    width: 80px;
    height: 35px;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}
.btn:disabled{
    background: yellow;
    color: black;
}

.blue-btn {
    background-color: #0042A6;
    margin-right: 10px;
}

.red-btn {
    background-color: #A60000;
}



.top_box_left {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    font-size: 25px;
    line-height: 25px;
}


