.background {
    background: #3d3d3d;
}
.nav_button {
    color: white;
    cursor: pointer;
}
.active {
    text-decoration: underline;
    text-underline-offset: 7px;
}
.inactive {
    text-decoration: none;
}
.mypage_btn{
    text-decoration: none;
    
}
.login-box{
    display: inline-block;
    margin-right: 20px;
    margin-top: 6px;

}
.logout-btn{
    float: right;
    margin-top: 6px;
}
.login-box .user_info_box{
   display: inline-block;
    float: right;
    text-align: right;
    width: 100%;
}
.header-rankImg{
    width: 22px;
    float: right;
}