.background {
    background: #3d3d3d;
}
.nav_button {
    color: white;
    cursor: pointer;
}
.active {
    text-decoration: underline;
    text-underline-offset: 7px;
}
.inactive {
    text-decoration: none;
}
.mypage_btn{
    text-decoration: none;
    
}