.background_box{
    background: #3D3D3D;
    height: 550px;
    width: 450px;
}
.box_circle{
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50px;
}
.content{
    margin: auto;
    text-align: center;
    padding-top: 70px;
}
.login_button{
    color: white;
    background: none;
    border: none;
}
.register_button{
    background: #A60000;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
}